.App, html, body {
  background-color: #282c34;
  width: 100% !important;
  height: 100% !important;
}

.navB {
width: 100%;
height: 60px;
background-color: black;
grid-column-start: 1;
grid-column-end: 4;
}

.dropdown {
  position: absolute;
  display: table-caption;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  top:45px;
  right:0px;
  width: 80px;
  background-color: #282c34;
  font-weight:bold;
  position: center;
}
li a {
  color: #000;
  text-decoration: none;
}
li {
  padding: 4px 4px;
  position: center;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: #282c34;
  color: #282c34;
}
.button{
  position: left;
  width:60px;
  height:20px;
  left: 40px;
  background-color: #020202;
  padding:20px;
  border-radius:5px;
  font-weight:bold;
  color:whitesmoke;
  cursor: pointer;
}

.App-header {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 1fr 1fr;
  background: image('bkg.jpg');
}

.startBox {
grid-row-start: 1;
grid-row-end: 2;
justify-self: center;
}

.creepySpeech {
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
padding: 30px;
font-size: 30px;
}
.part1{
  font-size: 60px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
}
.button1{
  justify-self: center;
  background-color: #282c34; 
  border: none;
  border-color: black;
  border: double;
  color: black;
  cursor: pointer;
  padding: 5px;
  margin: 4px 2px;
  text-align: center;
  height: 100px;
  font-size: 20px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
}
.part2{
  justify-self: center;
  font-size: 30px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
}
.part3{
justify-content: center;
  font-size: 40px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
  
}
.button2{
  justify-self: center;
  background-color: #282c34; 
  border: none;
  border-color: black;
  border: double;
  color: black;
  cursor: pointer;
  padding: 5px;
  margin: 4px 2px;
  text-align: center;
  height: 100px;
  font-size: 20px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
}


.characterCards {
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  
}

.cardFlip{
  display: grid;
  cursor: pointer;
}

.flippy-back {
display: grid;
grid-template-rows: 1fr 1fr 1fr;
overflow: scroll;

} 

.charImg {
    width:200px;
    height:200px;
    overflow: auto;
  }

.pcImg {
  width:100%;
  height:50%;
}

.charInfo {
  justify-self: center !important;
  overflow: scroll;
  padding: 20px;
  position: center;
  font-family: fantasy;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 38px;
  height:100vh;
}

.storyBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.Stitle {
grid-column-start: 2;
justify-self: center;
height: 100px;
font-family: fantasy;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
}
.abS{
  grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 3;
height: 100px;
padding: 25px;
}
.aboutStory {
  background-color: black;
  border: double;
padding: 25px;
color: white;
justify-self: center;
font-family: fantasy;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  /* line-height: 38px; */
}

.authBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.title{
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: center;
}
.authName{
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
}
.showBio{
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  position: center;
}

.BKG{
  width: 100%;
  height: 100%;
  background-position: center;
}
