.App, html, body {
  background-color: #282c34;
  width: 100% !important;
  height: 100% !important;
}

.navB {
width: 100%;
height: 60px;
background-color: black;
grid-column-start: 1;
grid-column-end: 4;
}

.dropdown {
  position: absolute;
  display: table-caption;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  top:45px;
  right:0px;
  width: 80px;
  background-color: #282c34;
  font-weight:bold;
  position: center;
}
li a {
  color: #000;
  text-decoration: none;
}
li {
  padding: 4px 4px;
  position: center;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: #282c34;
  color: #282c34;
}
.button{
  position: left;
  width:60px;
  height:20px;
  left: 40px;
  background-color: #020202;
  padding:20px;
  border-radius:5px;
  font-weight:bold;
  color:whitesmoke;
}

.App-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.startBox {
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
justify-self: center;
}

.creepySpeech {
padding: 30px;
}

.characterCards {
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  
}

.cardFlip{
  display: grid;
  
}

.flippy-back {
display: grid;
grid-template-rows: 1fr 1fr 1fr;
}

.charImg {
    width:200px;
    height:200px;
    overflow: auto;
  }

.pcImg {
  width:100%;
  height:50%;
}

.charInfo {
  justify-self: center !important;
  padding: 20px;
  position: center;
  font-family: Sofia;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 38px;
  height:100vh;
}

.who {
justify-self: center !important;
}

.pctitle {
  justify-self: center !important;
}
