.Adventure, html, body {
background-color: #282c34;
  width: 100% !important;
  height: 100% !important;
}

.characterSelect {
  background: rgba(7, 7, 7, 0.5);
  overflow: scroll;   
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  row-gap: 60px;
  column-gap: 80px;
  padding: 20px;
}
.selectButton{
justify-self: center;
padding: 10px;
}

.AdventureView{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr ;
  column-gap: 50px;
}

.pageImage{
  padding: inherit;
width: 100%;
height: 100%;
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 1;
}
.Image {
  width: 100%;
  grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 1;
}

.storyContent {
 display: grid;
 grid-template-rows: 1fr 1fr;
 row-gap: 15px;
 padding: 25px;

}
.pageContent {
grid-row-start: 1;
grid-row-end: 2;
background: #282c34;
overflow: scroll !important;
height: 450px;
}
.content{
  grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 2;
grid-column-end: 4;
  justify-self: center;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  overflow: scroll !important;
}

.pcContainer {
  grid-row-start: 2;
  grid-row-end: 3;
}
.pcInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 50px; */
}
.playerPortrait {
  grid-column-start: 2;
  grid-column-end: 3;
width: 100%;
}
.pageOption1 {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
justify-self: center;
padding: 20px;
}
.opt1 {
  background-color: #282c34; 
  border-color: black;
  border: double;
  display: inline-block;
    color: white;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
  height: 100px;
  font-size: 20px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
}
.opt2{
  background-color: #282c34; 
  border: none;
  border-color: black;
  border: double;
  color: white;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
  height: 100px;
  font-size: 20px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
}
.FIGHT {
  grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 2;
justify-self: center;
padding: 60px;
left: 50px;
}
.fight{
  background-color: #282c34; 
  border: double;
  color: white;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
  height: 100px;
  width: 100px;
  font-family: fantasy;
  /* font-style: oblique; */
  font-weight: bold;
  font-size: 20px;
}

.youDied{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
}                    

.Deathimage{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 10px;
}

.deathMessage{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: scroll;
  padding: 15px;
  font-size: 22px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
  justify-content: center;
}
.restart{
  justify-self: center;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-bottom: 20px;
  background-color: #282c34; 
  border-color: #282c34;
  color: white;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
  height: 100px;
  font-size: 20px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
}

.launchB{
  background-color: rgba(7, 7, 7, 0.5); 
border: none;
  color: white;
  cursor: pointer;
  margin: 0px ;
  text-align: center;
  padding: 16px 32px;
  height: 50px;
  font-family: fantasy;
  font-style: oblique;
  font-weight: bold;
}

.who {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-self: center !important;

  }
  
  .pctitle {
    justify-self: center !important;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }


