html {
  background-color: rgba(7, 7, 7, 0.5);
}

.AdventureView{
  width: 100%;
  height: 100%;
}

.pageImage{
position: absolute;
width: 100%;
height: 100%;
left: -359px;
top: 80px;
}

.pageContent {
position: absolute;
width: 700px;
height: 400px;
left: 562px;
top: 80px;
overflow: scroll;
background-color: rgba(7, 7, 7, 0.5);
font-size: 24px;
overflow: scroll !important;
}

.options {
  background-color: lawngreen;
}

.FIGHT {
  position: absolute;
    width: 80px;
    /* height: 128px; */
    left: 641px;
    top: 471px; 
}

.youDied {
  position: center;
  color: blue;
}

.DeathMessage {
  position: center;
  
}

.pageOption1 {
    position: absolute;
    width: 80px;
    /* height: 128px; */
    left: 641px;
    top: 471px; 
}

.pageOption2 {
position: absolute;
width: 95px;
height: 428px;
left: 884px;
top: 471px;
}

.pcContainer {
position: absolute;
width: 208px;
height: 288px;
left: 642px;
top: 582px;
/* overflow: scroll; */
left: 800px;
}

.pcInfo {
  position: absolute;
width: 208px;
height: 288px;
left: 542px;
top: 582px;
/* overflow: scroll; */
left: 800px;
}

.pcName  {
  top: 0px;
}
                    
.pcJob {
  top: 0px;
  
}
                    
.playerPortrait {
/* position: absolute; */
/* border-radius:10px; */
  top: 0px;
  width:100%;
  height:100%;
  left: 15px;
  grid-gap: 20px;
  image-rendering: auto;
  object-fit: scale-down;
  /* padding-inline-start: 0;
  padding: 10px;
    display: table; */
}

